<ion-view can-swipe-back="false">
  <ion-content>
  <ion-refresher pulling-text="Refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
  </ion-refresher>
    <div class="content">
		<div class="blog">
			<div class="blog-top">
				<div ng-repeat="politic in politics | orderBy:'-dateupdated'">
					<div ng-if="politic.ispicture" class="{{politic.class}}">
						<a  href="#/app/detail/{{politic.$id}}"><img  src="{{politic.picture}}" />
						<label></label></a>
					</div>
					<div ng-if="politic.isnote" class="{{politic.class}}">
						<h5><a href="#/app/detail/{{politic.$id}}">{{politic.title}}</a></h5>
						<p hm-read-more hm-text="{{politic.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
					</div>
					<div ng-if="politic.islink" class="{{politic.class}}">
						<p>{{politic.title}}</p><a href="{{politic.desc}}" target="_blank">Open Here</a>					
					</div>
					<div ng-if="politic.isquote" class="{{politic.class}}">
						<p>{{politic.desc}}</p>
						<img  src="images/qu.png" />
						<span>{{politic.title}}</span>
					</div>
					<div ng-if="politic.isblog" class="{{politic.class}}">
						<youtube-video ng-if="politic.isvideo"  video-id="politic.video"></youtube-video>
						<a ng-hide="politic.isvideo" href="#/app/detail/{{politic.$id}}"><img  src="{{politic.picture}}" /></a>
						<div class="blog-in">
							<h5><a href="#/app/detail/{{politic.$id}}">{{politic.title}}</a></h5>
							<p hm-read-more hm-text="{{politic.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
							<ul class="date">
								<li><span><a href="#/app/detail/{{politic.$id}}"><i ></i>{{politic.comment}} Comments</a></span></li>
								<li><span><i class="date-in"></i>{{politic.datecreated | date}}</span></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
			<div class="blog-top">
				<div ng-repeat="science in sciences | orderBy:'-dateupdated'"> 
					<div ng-if="science.ispicture" class="{{science.class}}">
						<a  href="#/app/detail/{{science.$id}}"><img  src="{{science.picture}}" />
						<label></label></a>
					</div>
					<div ng-if="science.isnote" class="{{science.class}}">
						<h5><a href="#/app/detail/{{science.$id}}">{{science.title}}</a></h5>
						<p hm-read-more hm-text="{{science.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
					</div>
					<div ng-if="science.islink" class="{{science.class}}">
						<p>{{science.title}}</p><a href="{{science.desc}}" target="_blank">Open Here</a>					
					</div>
					<div ng-if="science.isquote" class="{{science.class}}">
						<p>{{science.desc}}</p>
						<img  src="images/qu.png" />
						<span>{{science.title}}</span>
					</div>
					<div ng-if="science.isblog" class="{{science.class}}">
						<youtube-video ng-if="science.isvideo"  video-id="science.video"></youtube-video>
						<a ng-hide="science.isvideo" href="#/app/detail/{{science.$id}}"><img  src="{{science.picture}}" /></a>
						<div class="blog-in">
							<h5><a href="#/app/detail/{{science.$id}}">{{science.title}}</a></h5>
							<p hm-read-more hm-text="{{science.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
							<ul class="date">
								<li><span><a href="#/app/detail/{{science.$id}}"><i ></i>{{science.comment}} Comments</a></span></li>
								<li><span><i class="date-in"></i>{{science.datecreated | date}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-top">
				<div ng-repeat="techno in technos | orderBy:'-dateupdated'">
					<div ng-if="techno.ispicture" class="{{techno.class}}">
						<a  href="#/app/detail/{{techno.$id}}"><img  src="{{techno.picture}}" />
						<label></label></a>
					</div>
					<div ng-if="techno.isnote" class="{{techno.class}}">
						<h5><a href="#/app/detail/{{techno.$id}}">{{techno.title}}</a></h5>
						<p hm-read-more hm-text="{{techno.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
					</div>
					<div ng-if="techno.islink" class="{{techno.class}}">
						<p>{{techno.title}}</p><a href="{{techno.desc}}" target="_blank">Open Here</a>					
					</div>
					<div ng-if="techno.isquote" class="{{techno.class}}">
						<p>{{techno.desc}}</p>desc
						<img  src="images/qu.png" />
						<span>{{techno.title}}</span>
					</div>
					<div ng-if="techno.isblog" class="{{techno.class}}">
						<youtube-video ng-if="techno.isvideo"  video-id="techno.video"></youtube-video>
						<a ng-hide="techno.isvideo" href="#/app/detail/{{techno.$id}}"><img  src="{{techno.picture}}" /></a>
						<div class="blog-in">
							<h5><a href="#/app/detail/{{techno.$id}}">{{techno.title}}</a></h5>
							<p hm-read-more hm-text="{{techno.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
							<ul class="date">
								<li><span><a href="#/app/detail/{{techno.$id}}"><i ></i>{{techno.comment}} Comments</a></span></li>
								<li><span><i class="date-in"></i>{{techno.datecreated | date}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-top">
				<div ng-repeat="sport in sports | orderBy:'-dateupdated'">
					<div ng-if="sport.ispicture" class="{{sport.class}}">
						<a  href="#/app/detail/{{sport.$id}}"><img  src="{{sport.picture}}" />
						<label></label></a>
					</div>
					<div ng-if="sport.isnote" class="{{sport.class}}">
						<h5><a href="#/app/detail/{{sport.$id}}">{{sport.title}}</a></h5>
						<p hm-read-more hm-text="{{sport.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
					</div>
					<div ng-if="sport.islink" class="{{sport.class}}">
						<p>{{sport.title}}</p><a href="{{sport.desc}}" target="_blank">Open Here</a>					
					</div>
					<div ng-if="sport.isquote" class="{{sport.class}}">
						<p>{{sport.desc}}</p>
						<img  src="images/qu.png" />
						<span>{{sport.title}}</span>
					</div>
					<div ng-if="sport.isblog" class="{{sport.class}}">
						<youtube-video ng-if="sport.isvideo"  video-id="sport.video"></youtube-video>
						<a ng-hide="sport.isvideo" href="#/app/detail/{{sport.$id}}"><img  src="{{sport.picture}}" /></a>
						<div class="blog-in">
							<h5><a href="#/app/detail/{{sport.$id}}">{{sport.title}}</a></h5>
							<p hm-read-more hm-text="{{sport.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
							<ul class="date">
								<li><span><a href="#/app/detail/{{sport.$id}}"><i ></i>{{sport.comment}} Comments</a></span></li>
								<li><span><i class="date-in"></i>{{sport.datecreated | date}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-top">
				<div  ng-repeat="health in healths | orderBy:'-dateupdated'">
					<div ng-if="health.ispicture" class="{{health.class}}">
						<a  href="#/app/detail/{{health.$id}}"><img  src="{{health.picture}}" />
						<label></label></a>
					</div>
					<div ng-if="health.isnote" class="{{health.class}}">
						<h5><a href="#/app/detail/{{health.$id}}">{{health.title}}</a></h5>
						<p hm-read-more hm-text="{{health.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
					</div>
					<div ng-if="health.islink" class="{{health.class}}">
						<p>{{health.title}}</p><a href="{{health.desc}}" target="_blank">Open Here</a>					
					</div>
					<div ng-if="health.isquote" class="{{health.class}}">
						<p>{{health.desc}}</p>
						<img  src="images/qu.png" />
						<span>{{health.title}}</span>
					</div>
					<div ng-if="health.isblog" class="{{health.class}}">
						<youtube-video ng-if="health.isvideo"  video-id="health.video"></youtube-video>
						<a ng-hide="health.isvideo" href="#/app/detail/{{health.$id}}"><img  src="{{health.picture}}" /></a>
						<div class="blog-in">
							<h5><a href="#/app/detail/{{health.$id}}">{{health.title}}</a></h5>
							<p hm-read-more hm-text="{{health.desc}}" hm-limit="100" hm-more-text="." hm-less-text="." hm-dots-class="" hm-link-class=""></p>
							<ul class="date">
								<li><span><a href="#/app/detail/{{health.$id}}"><i ></i>{{health.comment}} Comments</a></span></li>
								<li><span><i class="date-in"></i>{{health.datecreated | date}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="arrow arrow-at">
			<img  src="images/ic.png" />
		</div>
	</div>
  </ion-content>
</ion-view>
