<ion-view can-swipe-back="false">
  <ion-content>
    <div class="content">
		<div class="contact">
			<h1>Get in touch with me</h1>
			<p>There is no solution if we stay to do nothing, please contact me to discuss about technology, information system, cyber security, cloud computing, mobile apps development, software engineering and IT governance.</p>
			<div class="top-contact">
			<h3>Send me a message</h3>
			<div class="grid-contact">
				<div class="your-top">
					<i> </i>
					<input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}" ng-model="email.name">								
					<div class="clear"> </div>
				</div>
				<div class="your-top">
					<i class="email"> </i>
					<input type="text" value="E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'E-mail';}" ng-model="email.contact">								
					<div class="clear"> </div>
				</div>
				<div class="your-top">
					<i class="website"> </i>
					<input type="text" value="Topic" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Topic';}" ng-model="email.topic">								
					<div class="clear"> </div>
				</div>
				
			</div>
			<div class="grid-contact-in">
				<textarea cols="77" rows="5" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}" ng-model="email.message">Message</textarea>
				<input type="submit" value="SENT MESSAGE" ng-click="sendEmail(email)">
			</div>
			<div class="clear"> </div>
		</div>
		</div>
		<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d126931.03637606038!2d106.83167680000003!3d-6.184935399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sid!2sid!4v1466589937227"></iframe>
		</div>
	</div>
  </ion-content>
</ion-view>
