<ion-view can-swipe-back="false">
  <ion-content>
    <div class="content">
		<div class="single">
			<div class="single-top">
				<div class="grid-about">
					<a><youtube-video ng-if="isvideo"  video-id="detail.video"></youtube-video></a>
					<a><img src="{{detail.picture}}" alt=""></a>
				</div>
				<h2><a>{{detail.title}}</a></h2>
				<pre><p>{{detail.desc}}</p></pre>
				<div class="comment-grid-top">
					<h3>{{detail.comment}} Comments</h3>
					<div class="comments-top-top" ng-repeat="data in detail.comments">
						<div class="top-comment-left">
							<img  src="{{data.picture}}" alt="">
						</div>
						<div class="top-comment-right">
							<ul>
								<li><span > <a href="#">{{data.commentator}}</a></span></li>
								<li><span>/ {{data.datecreated|amCalendar:referenceTime:formats}}</span></li>
							</ul>
							<p>{{data.comment}}</p>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div ng-show="login" class="comment-grid-top">
					<div class="comments-top-top ">
						<div class="top-comment-left ">
							<img  src="{{userphoto}}" alt="">
						</div>
						<div class="top-comment-right ">
							<ul>
								<li><span > <a href="#">{{username}}</a></span></li>
								<li><span >/ now</span></li>
							</ul>
							<p>{{type}}</p>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div ng-show="login" class="top-single">
					<div class="grid-single-det">
						<textarea  ng-blur="type=''" ng-focus="type='typing...'" cols="77" rows="5" ng-click="gate()" ng-model="comment.data" autofocus></textarea>
						<input type="submit" value="SENT MESSAGE" ng-click="comm(comment)">
					</div>
					<div class="clear"> </div>
				</div>
				<div ng-hide="login" class="top-single">
					<h3>Leave a Comment</h3>
					<div class="grid-single-det">
						<textarea cols="77" rows="5" ng-click="gate()"></textarea>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<div class="single-in">
				<div class="info">
					<h3>Info</h3>
					<ul class="likes">
						<li><span><i class="fa fa-newspaper-o"> </i>{{detail.topic}}</span></li>
						<li><span><i class="fa fa-bookmark"> </i>{{detail.kind}}</span></li>
						<li><span><i class="fa fa-calendar"> </i>Created {{detail.datecreated | date}}</span></li>
						<li><span><i class="fa fa-calendar-plus-o"> </i>Updated {{detail.dateupdated | date}}</span></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul class="tag">
						<li ng-repeat="tag in detail.tags | orderBy:'title'"><a href="#">{{tag.title}}</a></li>
					</ul>
				</div>
				<div class="archive">
					<h3>Share</h3>
						<ul class="social-in">
				          <li><a ng-init="passFb='Facebook'" ng-click="share(passFb)" socialshare socialshare-provider="facebook" socialshare-text="{{detail.title}}" socialshare-title="{{detail.title}}" socialshare-description="{{detail.desc}}" socialshare-url="{{jaland}}" socialshare-media="images/logo.jpg" socialshare-via="356918818009905"><i> </i></a></li>
				          <li><a ng-init="passGo='Google'" ng-click="share(passGo)" socialshare socialshare-provider="google" socialshare-url="{{jaland}}"><i class="gmail"> </i></a></li>
				          <li><a ng-init="passTw='Twitter'" ng-click="share(passTw)" socialshare socialshare-provider="twitter" socialshare-text="{{detail.title}}" socialshare-hashtags="rendymarojahan, websiterendymarojahan" socialshare-url="{{jaland}}"><i class="twitter"> </i></a></li>
				          <li><a ng-init="passPn='Pinterest'" ng-click="share(passPn)" socialshare socialshare-provider="pinterest" socialshare-text="{{detail.title}}" socialshare-url="{{jaland}}" socialshare-media="{{detail.picture}}"><i class="pin"> </i></a></li>
				          <li><a ng-init="passLk='Linkedin'" ng-click="share(passLk)" socialshare socialshare-provider="linkedin" socialshare-text="{{detail.title}}" socialshare-url="{{jaland}}" socialshare-description="{{detail.desc}}"><i class="dribble"> </i></a></li>
				          <li><a ng-init="passSk='Skype'" ng-click="share(passSk)" socialshare socialshare-provider="skype" socialshare-text="{{detail.title}}" socialshare-url="{{jaland}}"><i class="behance"> </i></a></li>
				        </ul>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
  </ion-content>
</ion-view>