<ion-view can-swipe-back="false">
  <ion-content>
    <div class="content">
		<div class="work">
			<div class="work-top">
				<div class="grid-about">
					<a><img src="{{project.picture}}" alt=""></a>
				</div>
				<h2><a>{{project.title}}</a></h2>
				<pre><p>{{project.desc}}</p></pre>
			<div class="projects">
				<h3>Related</h3>
				<ul>
					<li ng-repeat="overview in overviews | orderBy:'title'"><a href="#/app/{{overview.kind | lowercase}}/{{overview.$id}}"><img  src="{{overview.picture}}" /></a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			</div>
			<div class="work-in">
				<div class="info">
				<h3>Information</h3>
					<ul class="likes">
						<li ng-repeat="info in project.infos | orderBy:'title'"><span><i class="{{info.icon}}" alt="{{info.title}}"> </i>{{info.value}}</span></li>
					</ul>
				</div>
				<div class="tags">
				<h3>Tags</h3>
					<ul class="tag">
						<li ng-repeat="tag in project.tags | orderBy:'title'"><a href="#">{{tag.title}}</a></li>
					</ul>
				</div>
				<div class="gallery">
				<h3>Share</h3>
					<ul class="social-in">
			          <li><a ng-init="passFb='Facebook'" ng-click="share(passFb)" socialshare socialshare-provider="facebook" socialshare-text="{{project.name}}" socialshare-title="{{project.name}}" socialshare-description="{{project.desc}}" socialshare-url="{{jalan}}" socialshare-media="images/logo.jpg" socialshare-via="356918818009905"><i> </i></a></li>
			          <li><a ng-init="passGo='Google'" ng-click="share(passGo)" socialshare socialshare-provider="google" socialshare-url="{{jalan}}"><i class="gmail"> </i></a></li>
			          <li><a ng-init="passTw='Twitter'" ng-click="share(passTw)" socialshare socialshare-provider="twitter" socialshare-text="{{project.name}}" socialshare-hashtags="rendymarojahan, websiterendymarojahan" socialshare-url="{{jalan}}"><i class="twitter"> </i></a></li>
			          <li><a ng-init="passPn='Pinterest'" ng-click="share(passPn)" socialshare socialshare-provider="pinterest" socialshare-text="{{project.name}}" socialshare-url="{{jalan}}" socialshare-media="{{project.picture}}"><i class="pin"> </i></a></li>
			          <li><a ng-init="passLk='Linkedin'" ng-click="share(passLk)" socialshare socialshare-provider="linkedin" socialshare-text="{{project.name}}" socialshare-url="{{jalan}}" socialshare-description="{{project.desc}}"><i class="dribble"> </i></a></li>
			          <li><a ng-init="passSk='Skype'" ng-click="share(passSk)" socialshare socialshare-provider="skype" socialshare-text="{{project.name}}" socialshare-url="{{jalan}}"><i class="behance"> </i></a></li>
			        </ul>
				</div>
				<div class="feature">
				<h3>Features</h3>
					<ul class="feature-grid">
						<li ng-repeat="feat in project.features | orderBy:'title'"><a href="#"><i class="{{feat.icon}}"> </i>{{feat.title}}</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
  </ion-content>
</ion-view>
