<ion-view can-swipe-back="false">
  <ion-content>
    <div class="content">
		<div class="content-grid" ng-repeat="overview in overviews | orderBy:'title'">
			<a href="#/app/{{overview.kind | lowercase}}/{{overview.$id}}" class="b-link-stripe b-animate-go  thickbox">
				<img  src="{{overview.picture}}" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>{{overview.title}}</span>
							<p>{{overview.infos[0].value}}, {{overview.infos[1].value}}</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="clear"> </div>
		<div class="arrow">
			<img  src="images/ic.png" />
			<ul class="social ">
				<li><span><i> </i>+62 813 80 659 659</span></li>
				<li><a href="mailto:rendy.marojahan@gmail.com"><i class="mes"> </i>rendy.marojahan@gmail.com</a></li>
				<li><span><i class="down"> </i>Jakarta</span></li>
			</ul>
		</div>
	</div>
  </ion-content>
</ion-view>
