body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
a:hover, a:focus {
    text-decoration: none;
}
a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}
.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}
.site_title:hover, .site_title:focus {
    text-decoration: none;
}
.profile_pic {
    width: 35%;
    float: left;
}
.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52,73,94,0.44);
    padding: 4px;
}
.profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}
.profile_info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8;
}
.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}
.main_menu_side {
    padding: 0;
}
.menu_section {
    margin-bottom: 35px;
}
.menu_section h3 {
    padding-left: 23px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}
.menu_section>ul {
    margin-top: 10px;
}
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #1ABB9C;
}
.nav.side-menu>li.active>a {
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
}
.nav.side-menu>li {
    position: relative;
    display: block;
    cursor: pointer;
}
.nav.side-menu>li>a, .nav.child_menu>li>a {
    color: #E7E7E7;
    font-weight: 500;
}
.nav.side-menu>li>a {
    margin-bottom: 6px;
}
.nav.side-menu>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: transparent;
}
.nav.side-menu>li>a:hover {
    color: #F2F5F7 !important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}
.main_menu .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}
.main_menu .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav.child_menu {
	display: none;
}
.nav.child_menu li {
    padding-left: 36px;
}
.nav.child_menu>li>a {
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    padding: 9px;
}
.nav.child_menu li:hover, .nav.child_menu li.active {
    background-color: rgba(255,255,255,0.06);
}
.nav.child_menu>li>a:hover, .nav.child_menu>li>a:focus {
    background-color: transparent;
}
.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}
.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}
.nav_menu {
    float: left;
    background: #EDEDED;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    height: 51px;
}
.toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
}
.toggle a {
    padding: 15px 15px 0;
    margin: 0;
    cursor: pointer;
}
a {
    color: #5A738E;
    text-decoration: none;
}
.toggle a i {
    font-size: 26px;
}
.top_nav {
    width: 100%;
    margin: 0;
}
.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}
.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}
.nav.navbar-nav>li>a {
    color: #515356 !important;
}
.navbar-brand, .navbar-nav>li>a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px;
}
.nav>li>a>img {
    max-width: none;
}
.navbar-nav .open .dropdown-menu.pull-right {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
}
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.top_nav .dropdown-menu li {
    width: 100%;
}
.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: #D9DEE4;
}
.top_nav li a i {
    font-size: 15px;
}
.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
}
.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff;
}
.open>.dropdown-menu {
    display: block;
}
.navbar-nav .open .dropdown-menu.msg_list {
    width: 300px;
}
.navbar-nav .open .dropdown-menu.msg_list {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
}
ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important;
}
ul.msg_list li a {
    padding: 3px 5px !important;
}
.dropdown-menu.msg_list span {
    white-space: normal;
}
ul.msg_list li a .image img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}
ul.msg_list li a .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}
ul.msg_list li a .message {
    display: block !important;
    font-size: 11px;
}
ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 10px;
}
b, strong {
    font-weight: 700;
}
.top_nav li a i {
    font-size: 15px;
}

/* Conten */

.right_col {
    background: #F7F7F7;
    padding: 10px !important;
    width: 100%;
    margin: 0;
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: -10px;
    margin-left: -10px;
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    padding-top: 27px;
}
.rowe {
    margin-right: -10px;
    margin-left: -10px;
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}
.tile_count .tile_stats_count span {
    font-size: 12px;
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}
.tile_count .tile_stats_count .count_bottom i {
    width: 12px;
}
.green {
    color: #1ABB9C;
}
.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-6 {
    width: 50%;
}
.dashboard_graph {
    background: #fff;
    padding: 7px 10px;
}
.dashboard_graph .x_title {
    padding: 5px 5px 7px;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.dashboard_graph .x_title h3 {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
}
.x_title span {
    color: #BDBDBD;
}
.dashboard_graph .col-md-9, .dashboard_graph .col-md-3 {
    padding: 0;
}
.demo-placeholder {
    height: 280px;
}

/* Form */
.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0;
    padding-top: 47px;
}
.page-title .title_left {
    width: 45%;
    float: left;
    display: block;
}
.page-title .title_left h3 {
    margin: 9px 0;
}
.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 62%;
    font-size: 17px;
}
.x_title h2 small {
    margin-left: 10px;
}
.panel_toolbox {
    float: right;
    min-width: 70px;
}
.navbar-right {
    margin-right: 0;
}
.panel_toolbox>li {
    float: left;
    cursor: pointer;
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}
.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.form-control.has-feedback-left {
    padding-left: 45px;
}
.form-control {
    border-radius: 0;
    width: 100%;
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
.form-control-feedback.left {
    border-right: 1px solid #ccc;
    left: 13px;
}
.form-control-feedback {
    margin-top: 8px;
    height: 23px;
    color: #bbb;
    line-height: 24px;
    font-size: 15px;
}
.left {
    float: left;
}
.form-control-feedback.right {
    border-left: 1px solid #ccc;
    right: 13px;
}
span.right {
    float: right;
    font-size: 14px !important;
}
.login {
    background: #F7F7F7;
}
.login_wrapper {
    right: 0px;
    margin: 0px auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative;
}
.registration_form, .login_form {
    position: absolute;
    top: 0px;
    width: 100%;
}
.login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
}
.login_content form {
    margin: 20px 0;
    position: relative;
}
.login_content h1 {
    font: normal 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
.login_content h1:before {
    background: #7e7e7e;
    background: linear-gradient(right, #7e7e7e 0%, #fff 100%);
    left: 0;
}
.login_content h1:before, .login_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 20%;
}
.login_content h1:after {
    background: #7e7e7e;
    background: linear-gradient(left, #7e7e7e 0%, #fff 100%);
    right: 0;
}
.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}
.login_content form div a {
    font-size: 12px;
    margin: 10px 15px 0 0;
}
.login_content a, .login_content .btn-default:hover {
    text-decoration: none;
}
.login_content div .reset_pass {
    margin-top: 13px !important;
    margin-right: 39px;
    float: right;
}
.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px;
}
.profile_details:nth-child(3n) {
    clear: both;
}
.profile_details .profile_view {
    display: inline-block;
    padding: 10px 0 0;
    background: #fff;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.profile_details .profile_view .brief {
    margin: 0;
    font-weight: 300;
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}
.profile_details .profile_view .left {
    margin-top: 20px;
}
.profile_details .profile_view h2 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 400;
}
.profile_details .profile_view .left p {
    margin-bottom: 3px;
}
.profile_details .profile_view .right {
    margin-top: 0px;
    padding: 10px;
}
.profile_details .profile_view .bottom {
    background: #F2F5F7;
    padding: 9px 0;
    border-top: 1px solid #E6E9ED;
}
