<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Assign Pelanggan</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Data Pelanggan <small>Click to validate</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img ng-show="item.photo !== undefined" class="img-responsive avatar-view" src="{{ item.photo }}">
                  </div>
                </div>
                <br>

                <!-- start form for validation -->
                <form >
                  <label>Nama Pelanggan * :</label>
                  <input type="text" class="form-control" ng-model="customer.firstName" disabled="" />

                  <label for="email">Alamat * :</label>
                  <input type="text" class="form-control" ng-model="customer.alamat" disabled="" />
                  <div class="form-group">
                  <label>Pilih Agen * :</label>
                    <div>
                      <select class="select2_single form-control" tabindex="-1" ng-model="agenSel" ng-options="agen as agen.fullname for agen in agens | orderBy:'fullname'" ng-change="changedValue(agenSel)">
                      </select>
                    </div>
                  </div>
                    <br>
                    <br>
                    <span class="btn btn-primary" ng-click="createCustomer(customer)">Submit</span>

                </form>
                <!-- end form for validations -->

              </div>
            </div>
      </div>
    </div>
  </ion-content>
</ion-view>
