<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <!-- top tiles -->
		<div class="tile_count">
			<ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
    		</ion-refresher>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		      <span class="count_top"><i class="fa fa-user"></i> Pelanggan Baru</span>
		      <div class="count">{{notify}}</div>
		      <span class="count_bottom"><i class="green">2%</i> From last Week</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		      <span class="count_top"><i class="fa fa-clock-o"></i> Pencapaian Target harian</span>
		      <div class="count">{{posting}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>40% </i> From Yesterday</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		      <span class="count_top"><i class="fa fa-user"></i> Pencapaian Target Mingguan </span>
		      <div class="count green">{{comments}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>8% </i> From last Week</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		      <span class="count_top"><i class="fa fa-user"></i> Pencapaian Target Bulanan</span>
		      <div class="count">{{reads}}</div>
		      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		      <span class="count_top"><i class="fa fa-user"></i> Jumlah Article yg dishare</span>
		      <div class="count">{{shares}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		      <span class="count_top"><i class="fa fa-user"></i> Total Access</span>
		      <div class="count">{{access}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
		    </div>
		</div>
      </div>
    </div>
  </ion-content>
</ion-view>
