<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Registration Home</h3>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Daftar Pengguna <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Full Name</th>
                          <th>Email</th>
                          <th>Gender</th>
                          <th>Picture</th>
                          <th>User Level</th>
                          <th>Edit</th>
                        </tr>
                      </thead>


                      <tbody>
                      <tr ng-repeat="user in users">
                        <td>{{user.fullname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.gender}}</td>
                        <td><img src="{{user.picture}}" alt="" class="img-user"></td>
                        <td>{{user.level}}</td>
                        <td><button type="button" class="btn btn-primary btn-xs" ng-click="edit(user)">
                              <i class="fa fa-gears"> </i> Edit User
                            </button></td>
                      </tr>
                      </tbody>
                    </table>
                    <a href="#/app/registration/" class="btn btn-success"><i class="fa fa-plus-square m-right-xs"></i> add user</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
    </div>
  </ion-content>
</ion-view>
